
::-webkit-scrollbar {
  width: 0px;
}

.content{;
width:96%;
height: 96% ;
position: relative;
   margin: auto;
    border: 2px solid ;
    border-radius: 10px;
    
}
.content{
    font-size: 25px;
    color :white;
    display: flex;
    flex-direction: column;
    justify-content: center;
place-items: center;
    z-index: 2;
    overflow-x: hidden;
}

.containerback{    opacity: 0.6}
.container{filter: blur(0.5px);
overflow: visible;
    
}


.motherlist{
    position: absolute;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    list-style: hebrew;
    width: 85%;
    height: 85%;
    border-radius: 10px;
    border: 2px solid;
    overflow: hidden;
    animation: open  0.5s linear ;
    z-index: 3;
    }
.link{display: block;
width:100%;
    height: calc(100% / 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
   
}
@keyframes open {
    from{transform: scaleY(0);}
    to {transform: scaleY(100%) ;}
}

a:active {
    background-color: black;
    color:yellow;
}
/*****************/
h1{position: absolute;
top: 0;
text-transform: uppercase;
        font-family: 'Orbitron', sans-serif;
    font-size: 40px
}
.about{
background-color: ;
    position: relative;
    display: none;
    width:85%;
    height: 65%;
    font-size:40px;
    
    
}
p{
    display: block;
    width: 100%;
  min-height: 54px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    
    
}
*{font-family: 'Orbitron', sans-serif;
color:white;
    text-decoration: none;
    overflow-y: visible!important;
    
}

.container{
        @media screen and (min-width: 990px){
     max-width:400px;
max-height:calc(500px / 9 * 16) ;
    }}

.content,.about{
        @media screen and (min-width: 990px){
     font-size:18px;
           
    ;}}
h1{
        @media screen and (min-width: 990px){
     font-size:20px;
          
    ;}}
p{
        @media screen and (min-width: 990px){
   min-height:20px;
          
    }}



.containerback{
        @media screen and (min-width: 990px){  
      animation: w1 linear 10s infinite;
          
    ;}}
.content{
        @media screen and (min-width: 990px){ 
      animation: w2 linear 10s infinite;
          overflow:visible;
    }}
h1{          @media screen and (min-width: 990px){
      animation: w4 linear 10s infinite;
          
    }}
.container{    
        @media screen and (min-width: 990px){
      animation: w3 linear 10s infinite;
          
    ;}}

.about{    
        @media screen and (min-width: 990px){
      width:90%;
            height:100%;
            margin-top:90px;
            overflow:scroll;
          
    ;}}

.background{    
        @media screen and (min-width: 990px){
             background-image:url(portal-gatway-man-walk-fantasy1.jpg);
      background-size: cover;
    ;}}



@keyframes w1 {
    0%{transform: translateX(0px);}
    
    70%{transform: translateX(0px);}
    
    80%{transform: translateX(-1200px)}
     90%{transform: translateX(-1200px)}
    }
@keyframes w2 {
    0%{transform: translateX(0px);}
    
    60%{transform: translateX(0px);}
  70%{transform: translateX(-400px)}
    90%{transform: translateX(-400px)}
   }

@keyframes w4 {
    0%{transform: translateX(0px);}
    
      60%{transform: translateX(0px);}
    70%{transform: translateX(400px)}
     76.66%{transform: translateX(-400px)}
     90%{transform: translateX(-400px)}
    
}




@keyframes w3 {
    0%{transform: translateX(0px);}
    
      60%{transform: translateX(0px);}
    70%{transform: translateX(400px)}
    90%{transform: translateX(400px)}
    100%{transform: translateX(0px);}
   }