
body{
    margin:0;
    top:0;
    right: :0;
    left:0;
    bottom:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
     scroll-snap-type: y smooth;
    
}

.backmother{width:100vw;
height: 100vh;
overflow: hidden;
position: absolute;}

.background{
    
    position: absolute;
 width:100vw;
    height: 100vh;
   background-image:url(portal-gatway-man-walk-fantasy.jpg);
background-position:center;
background-size: auto 100%;
   /* background-position: 50% 30%;*/
    animation:backmove 60s linear infinite;
    overflow: hidden;
    
   
        

}

.container {
    padding: 0.001px;
position: relative; 
 width:85vw;
   /*height: calc(8.5vw * 16)*/
    height: 85vh;
 margin: auto;
    top:7.5vh;
    /*margin-top: calc((100vh - 8.5vw*16) / 99999999 );*/
      scroll-snap-align: center;
}



.container{ 
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(163, 218, 255);
    display: flex;
    z-index: 2;
     
}
/*.moving-line{
    width: 100%;
    height: 100%;
   
    background-size: 100% 25%;
    background-image: linear-gradient(
    rgb(0, 113, 255)0px ,
    rgb(0, 113, 255) 7px,
    TRANSPARENT 7px,
    TRANSPARENT 50px);
    animation: move linear 22s infinite;*/
    
   
    
@keyframes move {
    from{ background-position: 0% 0%;
    }
    to {background-position: 0% -100%;
   
    
    }}
@keyframes backmove
{
    0%{/*background-size:auto 100%*/
        transform: scale(1);background-position:center;;
    }
    90%{/*background-size:auto 150%*/
        transform: scale(2);background-position:center;}
    100%{/*background-size:auto 100%*/
        transform: scale(1);background-position:center;}
}
.leftbar,.rightbar{
    height: 99%;
    width: 99%;
    border: none;
    position: absolute;  
    top:0;
    margin:0;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
    display: block;
    z-index: 0;

}



.moving-line,.containerback{
    position: absolute;
    z-index:2;  }
.containerback{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(33, 60, 88);}

